<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h2 class="font-light m-b-xs">
            <%= (Object.keys(bin).length) ? 'Edit' : 'Add' %> Bin
          </h2>
          <div id="hbreadcrumb">
            <ol class="hbreadcrumb breadcrumb">
              <li><a href="<%= sails.config.base_url %>dashboard">Dashboard</a></li>
              <li><a href="<%= sails.config.base_url %>bin">Bin List</a></li>
              <li class="active">
                <%= (Object.keys(bin).length) ? 'Edit' : 'Add' %> Bin</span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="hpanel">
      <div class="panel-body">
        <% if(!(Object.keys(bin).length)){ %>
        <form action="<%= sails.config.base_url %>bin/add" method="post" enctype="multipart/form-data"
              id="add-bin" class='form-horizontal' data-parsley-validate='true'>
          <% }else{ %>
          <form action="<%= sails.config.base_url %>bin/edit/<%= req.params.id %>" method="post"
                enctype="multipart/form-data"
                id="add-bin" class='form-horizontal' data-parsley-validate='true'>
            <% } %>

            <% if (req.session.flash) { %>
            <%- req.flash('flashMessage') %>
            <% } %>
            <div class="form-group <%= (errors.id != undefined) ? " has-error" : "" %>">
              <label for="id" class="col-md-4 control-label">Bin ID*</label>
              <div class="col-md-6">
                <input type="text" name="id" class="form-control" id="id"
                       value="<%= (bin.id) ? (bin.id) : (req.param('id')) ? req.param('id') : '' %>"
                       required 
                       <%= (Object.keys(bin).length) ? "disabled" : '' %>
                       data-parsley-required-message="<%= Bin.message.bin_id_required %>"
                       placeholder="Bin ID"/>
                <span class="help-block">
                <strong><%= (errors.id != undefined) ? errors.id.message : '' %>
                </strong>
              </span>
              </div>
            </div>
            <div class="form-group <%= (errors.name != undefined) ? " has-error" : "" %>">
              <label for="last_name" class="col-md-4 control-label">Name*</label>
              <div class="col-md-6">
                <input type="text" name="name" class="form-control" id="name" required
                       value="<%= (bin.name) ? (bin.name) : (req.param('name')) ? req.param('name') : '' %>"
                       data-parsley-required-message="<%= Bin.message.name_required %>"
                       placeholder="Name"/>
                <span class="help-block">
                <strong><%= (errors.name != undefined) ? errors.name.message : '' %>
                </strong>
              </span>
              </div>
            </div>
            
              <div class="form-group <%= (errors.country != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">Country*</label>
                <div class="col-md-6">
                  <select name="country" onchange="getState(this.value)" id="country" class="form-control" required
                          data-parsley-required-message="<%= Bin.message.country_required %>">
                    <option value="">Select Country</option>
                    <%
                    if(Object.keys(countries).length){
                      for(var key in countries) { %>
                    <option <%= (bin.country_id && bin.country_id == key) ? "selected" : (req.param('country') && req.param('country') == key) ? "selected" : '' %>
                      value="<%= key %>"><%= countries[key].name %></option>
                    <% }
                    } %>
                  </select>
                  <input type="hidden" name="country_name" id="country_name" value="<%= (bin.country_name) ? (bin.country_name) : '' %>"/>
                  <span class="help-block">
                <strong><%= (errors.country != undefined) ? errors.country.message : '' %>
                </strong>
              </span>
                </div>
              </div>
              <div class="form-group <%= (errors.state != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">State*</label>
                <div class="col-md-6">
                  <select name="state" onchange="getCity(this.value)" id="state" class="form-control" required
                          data-parsley-required-message="<%= Bin.message.state_required %>">
                    <option value="">Select State</option>
                    <%
                    if(Object.keys(states).length){
                      for(var key in states) { %>
                    <option <%= (bin.state_id && bin.state_id == key) ? "selected" : (req.param('state') && req.param('state') == key) ? "selected" : '' %>
                      value="<%= key %>"><%= states[key].name %></option>
                    <% }
                    } %>
                  </select>
                  <input type="hidden" name="state_name" id="state_name" value="<%= (bin.state_name) ? (bin.state_name) : '' %>"/>
                  <span class="help-block">
                <strong><%= (errors.state != undefined) ? errors.stateId.message : '' %>
                </strong>
              </span>
                </div>
              </div>
              <div class="form-group <%= (errors.city != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">City*</label>
                <div class="col-md-6">
                  <select name="city" onchange="getArea(this.value)" id="city" class="form-control" required
                          data-parsley-required-message="<%= Bin.message.city_required %>">
                    <option value="">Select City</option>
                    <%
                    if(Object.keys(cities).length){
                      for(var key in cities) { %>
                    <option <%= (bin.city_id && bin.city_id == key) ? "selected" : (req.param('city') && req.param('city') == key) ? "selected" : '' %>
                      value="<%= key %>"><%= cities[key].name %></option>
                    <% }
                    } %>
                  </select>
                  <input type="hidden" name="city_name" id="city_name" value="<%= (bin.city_name) ? (bin.city_name) : '' %>"/>
                  <span class="help-block">
                <strong><%= (errors.city != undefined) ? errors.cityId.message : '' %>
                </strong>
              </span>
                </div>
              </div>
              <div class="form-group <%= (errors.area != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">Area*</label>
                <div class="col-md-6">
                  <select name="area" onchange="getSubCity(this.value)" id="area" class="form-control" required
                          data-parsley-required-message="<%= Bin.message.area_required %>">
                    <option value="">Select Area</option>
                    <%
                    if(Object.keys(areas).length){
                      for(var key in areas) { %>
                    <option <%= (bin.area_id && bin.area_id == key) ? "selected" : (req.param('area') && req.param('area') == key) ? "selected" : '' %>
                      value="<%= key %>"><%= areas[key].name %></option>
                    <% }
                    } %>
                  </select>
                  <input type="hidden" name="area_name" id="area_name" value="<%= (bin.area_name) ? (bin.area_name) : '' %>"/>
                  <span class="help-block">
                <strong><%= (errors.area != undefined) ? errors.areaId.message : '' %>
                </strong>
              </span>
                </div>
              </div>
              <div class="form-group <%= (errors.location != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">Location*</label>
                <div class="col-md-6">
                  <input type="text" name="location" class="form-control" required id="location"
                         value="<%= (bin.location) ? (bin.location) : (req.param('location')) ? req.param('location') : '' %>"
                         data-parsley-required-message="<%= Bin.message.location_required %>"
                         placeholder="Location"/>
                  <span class="help-block">
                <strong><%= (errors.location != undefined) ? errors.location.message : '' %>
                </strong>
              </span>
                </div>
              </div>

              <div class="form-group <%= (errors.latitude != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">Latitude*</label>
                <div class="col-md-6">
                  <input type="text" name="latitude" class="form-control" required id="latitude"
                         value="<%= (bin.latitude) ? (bin.latitude) : (req.param('latitude')) ? req.param('latitude') : '' %>"
                         data-parsley-required-message="<%= Bin.message.latitude_required %>"
                         placeholder="Latitude"/>
                  <span class="help-block">
                <strong><%= (errors.latitude != undefined) ? errors.latitude.message : '' %>
                </strong>
              </span>
                </div>
              </div>

              <div class="form-group <%= (errors.longitude != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">Longitude*</label>
                <div class="col-md-6">
                  <input type="text" name="longitude" class="form-control" required id="longitude"
                         value="<%= (bin.longitude) ? (bin.longitude) : (req.param('longitude')) ? req.param('longitude') : '' %>"
                         data-parsley-required-message="<%= Bin.message.longitude_required %>"
                         placeholder="Longitude"/>
                  <span class="help-block">
                <strong><%= (errors.longitude != undefined) ? errors.longitude.message : '' %>
                </strong>
              </span>
                </div>
              </div>

              <div class="form-group <%= (errors.alert_level != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">Alert Level*</label>
                <div class="col-md-6">
                  <input type="text" name="alert_level" class="form-control" required id="alert_level"
                         value="<%= (bin.alert_level) ? (bin.alert_level) : (req.param('alert_level')) ? req.param('alert_level') : '' %>"
                         data-parsley-required-message="<%= Bin.message.alert_level_required %>"
                         placeholder="Alert Level"/>
                  <span class="help-block">
                <strong><%= (errors.alert_level != undefined) ? errors.alert_level.message : '' %>
                </strong>
              </span>
                </div>
              </div>

              <div class="form-group <%= (errors.image != undefined) ? " has-error" : "" %>">
                <label for="is_active" class="col-md-4 control-label">Bin Image*</label>
                <div class="col-md-6">
                  <% if(Object.keys(bin).length){ %>
                  <img width="100"
                       src="<%= (bin.image) ? bin.image : sails.config.base_url + 'images/default_bin.jpg' %>"
                       title="<%= (bin.name) ? bin.name : '' %>"
                       alt="<%= (bin.name) ? bin.name : '' %>">
                  <% } %>
                  <input type="file" class="form-control" name="image" id="image"
                    <% if(!Object.keys(bin).length){ %>
                         required
                         data-parsley-required-message="<%= Bin.message.bin_image_required %>"
                    <% } %>
                         data-parsley-max-file-size="<%= sails.config.length.max_file_upload_kb %>"/>
                  <span class="help-block">
                <strong><%= (errors.image != undefined) ? errors.image.message : '' %>
                </strong>
              </span>
                </div>
              </div>
              <div class="form-group <%= (errors.id != undefined) ? " has-error" : "" %>">
                <div class="col-md-8 col-md-offset-4">
                  <button type="submit" class="btn btn-primary">
                    <%= (Object.keys(bin).length) ? 'Update' : 'Add' %> Bin
                  </button>
                  <a class="btn btn-primary" href="<%= sails.config.base_url %>bin">Cancel</a>
                </div>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>